<img src="../images/logo.jpg" alt="" class="logo"/>

<nav>
  <ul class="">
    <li><a href="/" class="menu">Home</a></li>
    <li><a href="/about" class="menu">About</a></li>
    <li><a href="/shop/new" class="menu">Shop</a></li>
    <li><a href="/blog" class="menu">Blog</a></li>
    <% if !logged_in? %>
    <li><a href="/sign_up" class="menu">Sign up</a></li>
    <li><a href="/login" class="menu">Login</a></li>
    <% end %>
    <% if logged_in? %>
    <li><a href="/logout" class="menu">Logout</a></li>
    <% end %>
  </ul>
</nav>

<h2>Shop</h2>
<% if is_admin? %>
<h3>Add Item</h3>
<form class="users" action="/shop/new" method="POST">
    <label for="">Name:</label>
    <input type="text" name="name">

    <label for="">Size:</label>
    <input type="text" name="size">

    <label for="">Brand:</label>
    <input type="text" name="brand">

    <label for="">Image URL:</label>
    <input type="text" name="image_url">

    <button>Add Item</button>
</form>
<% end %>

<main class="shop_image">
<% shop_items.each do |shop| %>
  <img src="<%= shop['image_url'] %>" alt="">
    
  <div class="shop_content">
    <h3><%= shop['name'] %></h3>
    <p>Size: <%= shop['size'] %></p>
    <p>Brand: <%= shop['brand'] %></p>

    <% if is_admin? %> 
    <a href="/edit_shop/<%= shop['id'] %>">Edit</a>
    
    <form action="/shop/new/<%= shop['id'] %>" method="POST">
    <input type="hidden" name="_method" value="delete">

    <button>Delete</button>

    <% elsif !is_admin? && logged_in?%>
    <form action="/shop/buy/">
    <button>BUY</button>
    <% end %>
  </div>

</main>


<% end %>
